.main-container {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3ICHxoqtLSv60iI5RsT4nOT1E31QZebnOmVYwi1Tb2g3L7yFyZRtb&usqp=CAE&s");
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 350px;
  width: 300px;
  margin: auto;
  padding: 20px;
  background-size: cover;
  align-items: center;
  text-align: center;
  color: bisque;
}

h1 {
  color: goldenrod;
}

.msg-el {
  font-style: italic;
}

.btn {
  color: #016f32;
  width: 150px;
  font-weight: bold;
  background-color: goldenrod;
  padding: 5px;
  border: none;
  border-radius: 2px;
  margin-bottom: 5px;
}


@media(min-width:320px) and (max-width:576px){
  .main-container{
    height: 100%;
    width:90%;
  }
}
